##导入宏定义
$!{define.vm}
$!{init.vm}
##保存文件（宏定义）
#save("/dto", "Dto.java")

##包路径（宏定义）
#setPackageSuffix("dto")

##自动导入包（全局变量）
$!autoImport


import java.io.Serializable;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
##表注释（宏定义）
#tableComment("表实体类")
@Data
public class $!{tableInfo.name}Dto {
    #foreach($column in $tableInfo.fullColumn)
        #if(
            ${column.obj.name} !="deleted" &&
            ${column.obj.name} !="version" &&
            ${column.obj.name} !="deleted" &&
            ${column.obj.name} !="version"  &&
            ${column.obj.name} !="product_line_id"  &&
            ${column.obj.name} !="status_id"  &&
            ${column.obj.name} !="modify_by"  &&
            ${column.obj.name} !="modify_time"  &&
            ${column.obj.name} !="tenant_id"  &&
            ${column.obj.name} !="enabled" &&
            ${column.obj.name} !="remark" &&
            ${column.obj.name} !="enabled" &&
            ${column.obj.name} !="create_by" &&
            ${column.obj.name} !="create_time"
        )

            #if(${column.comment})
            @ApiModelProperty("${column.comment}")
            #end
        private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
        #end
    #end
    public interface OnSearch {
    }

    ;

}
