##导入宏定义
$!{define.vm}
$!{init.vm}
##设置表后缀（宏定义）
#setTableSuffix("Service")

##保存文件（宏定义）
$!callback.setFileName($tool.append("I",$tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/service"))
##包路径（宏定义）
#setPackageSuffix("service")
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import $!{tableInfo.savePackageName}.entity.$!tableInfo.name;
import $!{tableInfo.savePackageName}.dto.$!{tableInfo.name}Dto;
import com.baomidou.mybatisplus.extension.service.IService;
##表注释（宏定义）
#tableComment("表服务接口")
public interface I$!{tableName} extends IService<$!tableInfo.name> {
    /**
     * 动态分页查询
     * @param loadOptions
     * @return
     */
    Page<$!tableInfo.name> dynamicPagination(LoadOptions<$!{tableInfo.name}Dto> loadOptions);

}
